package templ

import "strconv"

import types "blog/main/types"

templ ExpandedPost(post types.Post) {
	<div id="page">
        <div class="expanded-post">
            <h1 id="post-title"><div class="title">{ post.Title }</div><div class="id">Post { strconv.Itoa(post.Id) }</div></h1>
            @Unsafe(post.Content)
        </div>
	</div>
}
