package templ

templ Home() {
    <div id="page">
    <img id="pfp" alt="cool picture of silas" src="/img/pfp.jpg"></img>
    <div class="left">^ me</div>
    <h1 class="yellow-title">lolzero javascript</h1>
    <p class="home-text">this page was written in Go and HTMX. No reliance on JavaScript, no reliance on frameworks; this is how the web should be.</p>
    </div>
}
