package templ

templ Index() {
<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css" />
        <script type="text/javascript" src="/static/htmx.min.js"></script>
    </head>
    <body>
    @Nav_Bar()
    </body>
</html>
}
