package templ

templ Nav_Bar() {
    <div class="topNav">
    <a hx-push-url="true" hx-target="#page" hx-swap="outerHTML" hx-boost="true" hx-get="/home">Home</a>
    <a hx-push-url="true" hx-target="#page" hx-swap="outerHTML" hx-boost="true" hx-get="/posts">Posts</a>
    <a hx-push-url="true" hx-target="#page" hx-swap="outerHTML" hx-boost="true" hx-get="/pictures">Pictures</a>
    </div>
}

