package templ

templ Nav_Bar() {
    <div class="topNav">
    <a hx-boost="true" hx-put="/home">Home</a>
    <a hx-boost="true" hx-put="/posts">Posts</a>
    <a hx-boost="true" hx-put="/pictures">Pictures</a>
    </div>
}

