package templ

templ Nav_Bar() {
    <div class="topNav">
    <div hx-push-url="true" hx-target="#page" hx-swap="outerHTML" hx-boost="true" hx-get="/home">Home</div>
    <div hx-push-url="true" hx-target="#page" hx-swap="outerHTML" hx-boost="true" hx-get="/posts">Posts</div>
    <div hx-push-url="true" hx-target="#page" hx-swap="outerHTML" hx-boost="true" hx-get="/drama">Drama</div>
    </div>
}

