package templ

import "strconv"

import types "blog/main/types"

templ Posts(temp []types.Post) {
	<div id="page">
		for _, v := range temp {
			<div class="post" hx-push-url="true" hx-target="#page" hx-swap="outerHTML" hx-get={ "/post/" + strconv.Itoa(v.Id) }>
				<div class="title">{ v.Title }</div>
				<div class="content">{ v.Content }</div>
			</div>
		}
	</div>
}

