package templ

import types "blog/main/types"

templ Posts(temp []types.Post) {
    <div id="page">
    for _, v := range temp {
        <div class="post">
        <div class="title">{ v.Title }</div>
        <div class="content">{ v.Content }</div>
        </div>
    }
    </div>
}
