:root {
  background-color: #191724; /* rosePine base */
  margin: 0;
  padding: 0;
  --default-font: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  --mermaid-font: var(--default-font);
  --reveal-font: var(--default-font);
  --font-monospace: 'Source Code Pro', monospace;
  font-family: var(--default-font);
}

* {
  color: #e0def4; /* rosePine text */
}

body {
    margin: 0;
}

.topNav {
  background-color: rgb(38, 35, 58);
  display: flex;
  overflow: hidden;
  margin-top: 0;
  align-items: center;
  justify-content: center;
}

.topNav div {
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

.topNav div:hover {
    background-color: #21202e;
    color: #9ccfd8;
}

#page {
    display: flex;
    flex-direction: column;
    place-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

#pfp {
    width: 300px;
    outline: 2px solid #ebbcba;
    margin-top: 5vh;
}

.yellow-title {
    width: 70vw;
    text-align: left;
    color: #ffde69;
    margin-top: 8vh;
    font-weight: bolder;
    font-size: 40px;
}

/* i'm too lazy to rename this div */
.left {
    text-align: right;
    width: 300px;
}

.post {
    display: flex;
    flex-direction: column;
    outline: 2px solid #ebbcba;
    margin: 16px;
    border-radius: 4px;
    width: 30vw;
    cursor: pointer;
}

.post:hover {
    outline: 2px solid #9ccfd8;
}

.post .title {
    text-align: center;
    background-color: #1f1d2e;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px;
}

.post .content {
    padding: 12px;
    padding-top: 8px;
}

#post-title {
    user-select: none;
    background-color: rgb(110, 106, 134, 1);
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 8px 40px;
    align-self: center;
}

#post-title .title {
    color: #191724;
}

#post-title .id {
    color: #191724;
    margin-left: auto;
}

#post-title + p {
    width: fit-content;
    padding: 8px;
    margin-top: 16px;
    background-color: rgba(235, 111, 146, 1);
    border-radius: 20px;
    margin-left: 0;
}

.expanded-post {
    justify-content: left;
    background-color: #191724;
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    border-left: 1px solid rgb(110, 106, 134, 1);
    border-right: 1px solid rgb(110, 106, 134, 1);
    border-bottom: 1px solid rgb(110, 106, 134, 1);
    margin-top: 8px;
    padding-bottom: 32px;
}

.expanded-post h1 {
    background-color: #26233a;
    color: #9ccfd8;
    width: fit-content;
    padding: 8px;
    margin-bottom: 8px;
    margin-top: 32px;
}

.expanded-post p {
    margin: 8px 16px 0 16px;
}

.expanded-post blockquote > p {
    margin: 0;
}

.expanded-post a {
    color: #9ccfd8;
}

.expanded-post code {
    background-color: rgb(110, 106, 134, 0.1);
    color: #f6c177;
}

blockquote {
    padding-left: 8px;
    border-left: 2px solid #eb6f92;
    margin-left: 24px;
    background-color: #1f1d2e;
    padding-bottom: 4px;
}
